<app-header></app-header>
<div class="text-center">
    <br><br>
    <h3 style="color: rgb(13, 13, 160);"> Buy Anywhere Sell AnyWhere</h3><br>
    <h4 style="color: rgb(13, 13, 160);">Across India</h4>
    
</div>
<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="/assets/download.jpg" height="300px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special Offer Sales</h5>
          <p class="card-text">Special offer sales are going on, please Login and buy your needs at low prices. Hurry Up! .</p>
          <a href="#" class="btn btn-primary">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="/assets/download 2.jpg" height="300px" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Save upto 50% off </h5>
          <p class="card-text">Best deals on all electronic devices...</p>
          <a href="#" class="btn btn-primary">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img src="/assets/car.jpg" height="300px" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title">Get your confort travelling..</h5>
            <p class="card-text">Best discounts for all type of vehicles. Login and buy vehiches you have passion on.</p>
            <a href="#" class="btn btn-primary">Konw More</a>
          </div>
        </div>
      </div>
  </div>
   
    
  