
<br><br><br>
<h2 style="text-align: center;">Register Here:</h2><br><br>
<div class="container" style="border: 3px solid black; background-image: url('/assets/registration.jpg'); background-repeat: no-repeat; background-size: cover;">

<form #user="ngForm" (ngSubmit)="saveUser(user)">
<div  >
  <br><br>
   <h2 style="color: white;">Register Here</h2>
  <br><br>
  <label style="color: white;">Enter Name:</label><br>
  <input class="col-4" type="text" name="name" placeholder="enter username" ngModel required minlength="4" maxlength="20"><br><br>
  
  <label style="color: white;">Enter Email:</label><br>
  <input class="col-4" type="email" name="email"  placeholder="enter email" ngModel required email><br><br>
  
  <label style="color: white;">Enter Your Gender:</label><br>
  <input class="col-4" type="text" name="gender"  ngModel required><br><br>

  <label style="color: rgb(30, 29, 29);">Enter Your Password:</label><br>
  <input class="col-4" type="password" name="password"  ngModel required minlength="8"><br><br>

  <label style="color: rgb(29, 28, 28);">Enter Your Mobile Number:</label><br>
  <input class="col-4" type="number" name="mobile"  ngModel required maxlength="10" maxlength="10"><br><br>
 
  <label style="color: rgb(27, 26, 26);">Enter Your Address:</label><br>
  <input class="col-4" type="text" name="address"  ngModel required><br><br>

  <label style="color: white;">Enter Your City:</label><br>
  <input class="col-4" type="text" name="city"  ngModel required><br><br>

  <label style="color: white;">Enter Your State:</label><br>
  <input class="col-4" type="text" name="state"  ngModel required><br><br>

  <label style="color: white;">Enter Your Pincode:</label><br>
  <input class="col-4" type="number" name="pincode"  ngModel required minlength="6" maxlength="6"><br><br>

  <label style="color: white;">Enter Your Country:</label><br>
  <input class="col-4" type="text" name="country"  ngModel required><br><br>

  <label style="color: white;">Set your Profile Picture:</label><br>
  <input type="file"><br><br>

  <label style="color: white;">Enter Image Path:</label><br>
  <input class="col-4" type="text" name="profilePicture"  ngModel/><br><br>

  <button type="submit" style="background-color: rgb(26, 43, 227); color: white;">Register</button> 
  <br><br>
</div>
</form>
</div>
<br><br><br>


