

<br><br>
<div class="container">
    <div class="row" > <br>
        <p>Enter Your Id:</p><br>
        <input type="number" name="user.id" #userid ngModel><br/><br/>
        <button (click)="getAdvertisement(userid)" type="submit" class="col-1" style="background-color: rgb(12, 4, 71); color: white;">submit</button><br/>
        <div *ngIf="advertisement && advertisement.length>0">
            <br><br>
            <h2>Advertisements</h2>
            <div *ngFor="let adv of advertisement">
                <div class="card">
                <img src={{adv.image}} width="300px" height="300px">
                    <p><b>Id:</b> {{adv.id}}</p>
                    <p><b>Title:</b> {{adv.title}}</p>
                    <p><b>Text:</b> {{adv.text}}</p>
                    <p><b>Posted on:</b> {{adv.postDate}}</p>
                    <p><b>Status:</b> {{adv.status}}</p>
                    <p><b>Last Date:</b> {{adv.lastDate}}</p>
                    <p><b>Price:</b> {{adv.price}}</p>
                    
                    <button (click)="redirectToUpdateAdvertisement()" type="submit" class="col-3" style="background-color: rgb(0, 89, 255); color: white; " >Update</button>"
                    <button (click)="deleteAdvertisement(adv.id)" type="submit" class="col-3" style="background-color: red; color: white;" >Delete</button>"
                    <hr>
                    </div>
               </div>
            </div>
        </div>
        
      </div>
    <br><br>
        
      